
@{
    ViewBag.Title = "KookTips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="row">


        <div class="col-sm">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal">
                <h6>KNOFLOOK- EN UIENGEUR VERWIJDEREN</h6>
                <img src="~/Images/antigeur.jpg" width="300" />
            </button>
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModal">KNOFLOOK- EN UIENGEUR VERWIJDEREN</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Heb je ui of knoflook gesneden en ruiken je handen daar nu naar? Als je één van onderstaande tips gebruikt is deze geur binnen een mum van tijd verdwenen van je handen.
                            <br />
                            <br />
                            Tip 1:
                            Was je handen met zeep en wrijf je handen daarna even langs de kraan of het aluminium van de gootsteen.
                            <br />
                            Tip 2:
                            Was je handen met zout.
                            <br />
                            Tip 3:
                            Smeer je handen in met citroensap en was je handen daarna. De geur is verdwenen.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="col-sm">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal2">
                <h6>KRUIDEN DROGEN</h6>
                <img src="~/Images/kruiden.jpg" width="300" />
            </button>
            <div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModal2">KRUIDEN DROGEN</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Wist je dat je zelf heel eenvoudig verse kruiden kunt drogen zodat je ze nog langer kunt gebruiken? Wij hebben regelmatig verse rozemarijn of tijm in huis en soms houden we wel eens wat over. Dit restje hoef je niet te laten verleppen in de koelkast maar kun je eenvoudig laten drogen. Lees hieronder hoe.
                            <br />
                            <br />
                            Oragano, rozemarijn en tijm zijn heel erg geschikt om te laten drogen. Hang ze ondersteboven op een droge en warme plek in huis (bijvoorbeeld in je keuken) Wacht ongeveer 1 tot 4 weken. Wil je niet zo lang wachten? Droog de kruiden dan op 60 graden in de oven met de deur op een kiertje totdat ze kruimelig worden (ongeveer 1 tot 4 uur).

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="col-sm">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal3">
                <h6>ZO HOUD JE VERSE KRUIDEN LANGER VERS</h6>
                <img src="~/Images/vers-kruid.jpg" width="300" />
            </button>
            <div class="modal fade" id="myModal3" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModal">ZO HOUD JE VERSE KRUIDEN LANGER VERS</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Koop jij ook wel eens verse kruiden in een bakje maar weet je niet goed hoe je ze moet bewaren als je de verpakking hebt geopend? Wij geven je een aantal tips hoe je verschillende kruiden het beste kunt bewaren.
                            <br />
                            <br />
                            Peterselie, munt, koriander, bieslook, tijm, oregano enzovoort.
                            Manier 1:
                            Snijd de stengels schuin af. Doe het bosje met kruiden in een klein glaasje of potje die voor helft vult met water. Doe een plastic zakje over de kruiden en sluit het geheel af met een elastiekje. Zet dit in de koelkast en op deze manier blijven je verse kruiden een stuk langer vers.
                            <br />
                            Manier 2:
                            Bewaar de kruiden tussen een vochtig keukenpapiertje in de koelkast. Vervang wel om de paar dagen het keukenpapiertje.
                            <br />
                            Basilicum
                            Basilicum moet je juist droog bewaren. Bewaar blaadjes basilicum tussen een droog keukenpapiertje buiten de koelkast op een droge en donkere plek.

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="w-100"></div>
        <br />
        <div class="col-sm">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal4">
                <h6>HOE KOOK JE EEN PERFECT EI?</h6>
                <img src="~/Images/eizie.jpg" width="300" />
            </button>
            <div class="modal fade" id="myModal4" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModal">HOE KOOK JE EEN PERFECT EI?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Een ei koken doe je zo! In dit artikel laten we zien waar je op moet letten. Het is niet moeilijk, en iedereen kan het!
                            <br />
                            Deze vaardigheid staat vaak bovenaan de lijst van elke beginnende kok: het perfécte eitje koken. Met een fantastisch ei maak je namelijk echt indruk op je gasten. Gelukkig is het helemaal niet moeilijk om deze vaardigheid te verwerven, je hebt er maar twee dingen voor nodig. Ten eerste moet je weten waar je gasten van houden (hard? zacht? of nog nat van binnen?), ten tweede moet je een beetje opletten. Valt best mee toch? Lees verder voor het precieze ‘recept’ voor een heerlijk gekookt eitje!
                            <br/>
                            <b>BENODIGDHEDEN:</b>
                            <br />
                            een kookpan/steelpan
                            water
                            zoveel eieren als je wilt of in je pan passen
                            Zet een pan op met genoeg water. De eieren moet geheel onder het water liggen. Wanneer het water kookt, zet je het vuur wat zachter en doe je de eitjes met behulp van een lepel in de pan. Eventueel kun je een klein scheutje azijn of een snufje zout toe zodat je eieren niet kapot barsten tijdens het koken. Stel je kookwekker in voor een zacht, gemiddeld of hard gekookt eitje (zie tabel hieronder). Als de kookwekker gaat, giet je heel voorzichtig het water af en laat je het ei ‘schrikken’ door koud water over het ei te laten open. Serveer direct.
                            <br />
                            <b>
                                Hieronder wordt aangegeven hoe lang je een ei moet koken om hem precies de manier te krijgen zoals jij wilt:
                            </b>
                            <br />
                            Zacht gekookt ei:  3,5 minuut
                            Eigeel zacht/ eiwit hard: 4,5 minuut
                            Eigeel smeuïg/ eiwit hard: 7 minuten
                            Hardgekookt: 8,5 minuut
                            <br />
                            Tip: wil je weten of je rauwe eieren nog goed zijn? Vul een groot glas of een bak met water. Laat voorzichtig je ei in het water vallen. Hoe hoger het ei drijft hoe ouder het ei is. Als hij (bijna) drijft is je ei niet goed meer.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="col-sm">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal5">
                <h6>HANDIGE KOOKTIPS #1</h6>
                <img src="~/Images/tip2.jpg" width="300" />
            </button>
            <div class="modal fade" id="myModal5" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModal">HANDIGE KOOKTIPS #1</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <b>Wist je dat:</b>
                            <ul>
                                <li>aardappels eerder gaar zijn als je aan het kookwater een klontje margarine toevoegt?</li>
                                <li>een avocado sneller rijp wordt als je hem in krantenpapier wikkelt.</li>
                                <li>je eieren langer kunt bewaren als je ze regelmatig omkeert? Draai bijvoorbeeld iedere week je eieren in het doosje om. Op deze manier blijft dooier mooi in het midden en blijven ze langer vers.</li>
                                <li>een cake het beste in de oven kan laten afkoelen als je wilt dat je cake niet heel erg inzakt.</li>
                                <li>e een gerecht minder pittig kunt maken (als je bent uitgeschoten met de cayennepeper) door een schepje suiker aan het gerecht toe te voegen.</li>
                                <li>wanneer je tijdens het snijden van ui op kauwgom kauwt je ogen minder hard gaan tranen.</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="col-sm">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal6">
                <h6>HANDIGE KOOKTIPS #2</h6>
                <img src="~/Images/cake.jpg" width="300" />
            </button>
            <div class="modal fade" id="myModal6" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModal">HANDIGE KOOKTIPS #2</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <b>Snijplank schoonmaken</b>
                            Houten snijplanken zijn vaak lastig schoon te maken maar met een beetje citroensap heb je ze binnen een mum van tijd schoon. Wrijf, na gebruik, je snijplank in met wat citroen, laat dit een nachtje staan en spoel de volgende dag je snijplank goed af. Je zult zien dat je snijplank schoon is en fris ruikt.
                            <br />
                            <b>Aangekoekte pan</b>

                            Ojee je hebt een aangekoekte pan en je krijgt hem niet meer schoon. Wat nu? Giet een beetje cola in de aangekoekte pan (een dun laagje). Laat dit even staan (minimaal 5 minuten) en spoel je pan vervolgens schoon zoals je dat altijd doet.
                            <br />
                            <b>Avocado bewaren</b>

                            Heb je een halve avocado gegeten en wil je de rest bewaren? Druppel dan wat citroensap over de avocado. Zo behoudt de avocado zijn kleur.
                            <br />
                            <b>Schuivende snijplank</b>

                            Heb jij last van een snijplank tijdens het snijden steeds heen en weer schuift (super irritant!). Leg dan een nat keukenpapiertje onder de snijplank en je zult merken dat het probleem is opgelost en je snijplank niet meer heen en weer schuift.
                            <br />
                            <b>Ei scheiden</b>

                            Vind je het lastig om een ei te scheiden? Breek het ei dan boven een kleine trechter boven een bakje. Het eiwit stroomt langs de zijkant en loopt vanzelf in het bakje die onder de trechter staat en het eigeel blijft bovenin de trechter zitten.
                            <br />
                            <b>Bloemkool/broccoli lucht</b>

                            Zelf ben ik dol op onder andere broccoli en bloemkool maar het luchtje dat in je huis hangt tijdens het koken, vind ik iets minder. Om zulke luchtjes te voorkomen bij het koken van bijvoorbeeld bloemkool, broccoli en spruitjes, giet je bij het kookwater een glaasje melk en je probleem is opgelost.
                            <br />
                            <b>Cake snijden</b>

                            Heb jij altijd moeite met het snijden van cake? Houd je mes dan eerst onder warm water en snijd dan de cake. Je zult merken dat dit veel gemakkelijker gaat.


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
 </div>
